{% extends "base.html" %}

{% block content %}

              <div class="row">
                {% for post in posts %}
                <div class="col-6 col-lg-4">
                  <h2>{{ post.title }}</h2>
                  <p>
                    {{ post.body | safe | truncate(150, False, '...') }}
                  </p>
                  <p><a class="btn btn-secondary" href="/post/{{ post.slug }}" role="button">View &raquo;</a></p>
                </div><!--/span-->
                {% endfor %}
              </div>
        
{% endblock %}
